<div class="center jumbotron">
  <h1>Welcome to the Gym World </h1>
  <%= link_to "Search product", products_path %>
  <br>
  <%= link_to "Sign up now!",signup_path, class: "btn btn-lg btn-primary" %>
</div>
