// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#carousel, #product{
    padding-left: 0;
    padding-right: 0;
}

.carousel-control-prev, .carousel-control-next{
    width: 5vw;
}

.carousel img{
    height: 70vh;
    width: 100vw;
}

.card-img-top{
    object-fit: cover;
    height: 70%;
}

.card{
    height: 80vh !important;
}