<footer class="footer container-fluid mt-5 mb-0 p-3 text-center bg-dark text-light">
    <p class="my-0">Online Store Copyright</p>
    <div class="form-inline">
        <div class="form-group mx-auto">
            <label for="email" class="form-label mx-1 my-1">Get deals:</label>
            <input type="email" class="form-control mx-1 my-1" name="email" id="email" aria-describedby="emailHelpId" placeholder="Email Address">
            <button type="submit" class="btn btn-primary mx-1 my-1">Sign Up</button>
        </div>
    </div>
</footer>